@use 'variables' as *;

@media (min-width: 500px) {
  .navigation {
    width: 350px;
    height: 100vh;
    display: inline;
  }
}

@media (min-width: 800px) {
  .intro,
  .about-me__body {
    display: flex;
    margin-top: 6.5em;
  }
  .flex,
  img.intro__img {
    justify-content: center;
    max-width: 100%;
    height: auto;
  }

  .flex-btn {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 0;
  }
  .btn-dark,
  .btn {
    margin-right: 1em;
    padding: 14px 15px;
    margin-top: 2.75em;
  }
  .intro__img,
  .about-me__img {
    margin: 0;
  }
  .title-intro,
  .title-about-me {
    text-align: left;
  }

  .home-container {
    display: grid;
    grid-template-columns: 60% 40%;
    margin: 0;
    padding-top: 0;
  }

  .home-container.left-col {
    grid-column: 1 / 2;
  }

  .home-container.right-col {
    grid-column: 2 / 3;
  }

  .container {
    display: grid;
    grid-template-columns: 40% 60%;
  }

  .container.left-col {
    grid-column: 1 / 2;
  }

  .container.right-col {
    grid-column: 2 / 3;
  }

  h1,
  .left-col {
    text-align: left;
  }

  .icon.stack p {
    margin-right: 1.25em;
  }
  .right-col {
    padding-left: 2em;
  }

  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }

  .grid-container {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2em;
  }

  .bx bxl-netlify {
    display: inline;
  }

  .icon.none {
    display: none;
  }

  .top-row {
    padding: 0em 8em;
  }
  .padding {
    padding: 10em 8em;
    text-align: center;
  }

  .about-me.padding {
    padding-top: 0;
  }

  #home {
    padding-top: 2em !important;
  }
  .padding,
  #light-accent,
  #title-dark,
  .title-project {
    text-align: left;
  }

  .title-footer,
  #services {
    text-align: center;
  }
  #title-accent,
  #title-dark,
  .title-project {
    margin-bottom: 3.75rem;
  }
  .title-tes {
    margin: 0 !important;
  }

  .stack {
    align-items: center;
  }

  .stack icon {
    font-size: 1.2rem;
  }
  .none {
    display: none;
  }
  .testimonial-container {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }

  .testimonial-container .slide {
    position: relative;
    height: 300px;
  }

  .prev {
    left: 10px;
  }

  .testimonial-container .slide {
    height: 500px;
  }
}
@media (min-width: 1000px) {
  h1 {
    font-size: $dt-fs-h1;
  }

  h2 {
    font-size: $dt-fs-h2;
  }

  h3,
  .icons {
    font-size: $dt-fs-h3;
  }

  p {
    font-size: $dt-fs-body;
  }
  .about-me__body.container {
    margin-top: 0;
    padding-top: 114px;
  }

  .icons {
    padding: 0 5em;
  }

  .toolkit-icon {
    font-size: 3rem;
    text-align: center;
  }

  .project__title {
    font-size: $dt-fs-h4;
    margin-top: 2em;
  }
  .project__container {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 5rem;
  }
  .hide {
    display: inline;
    color: $clr-dark;
    font-size: $dt-fs-body;
    line-height: 1.25em;
  }

  .navigation.active {
    right: 0;
  }

  .navigation ul li {
    text-align: right;
  }

  .services {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 1.5em;
  }

  .service {
    margin: 0 auto;
    height: 100%;
    min-width: 300px;
    color: black;
    background: white;
    padding: 1em 2em;
    opacity: 0.8;
    border-radius: 1%;
  }

  //   .service li {
  //     list-style-type: disc;
  //     text-align: left;
  //   }
  .toolkit-icon .bx,
  .service .bx {
    font-size: 4rem;
    padding-bottom: 1rem;
  }
  .slide {
    min-height: auto;
    display: block;
  }

  .slide p {
    width: 100%;
  }
  #next,
  #prev {
    top: -20em;
  }
}
