@use 'variables' as *;

/* My services section */
.services {
  display: grid;
  grid-template-columns: repeat(1, auto);
  gap: 1.5em;
}

.my-services {
  background-image: url(../assets/rock-climbing-pic.jpeg);
  background-color: rgb(0, 0, 0, 0.8);
  background-size: cover;
  background-position: top;
  filter: grayscale(100);
  text-align: center;
}
.service {
  margin: 0 auto;
  height: 100%;
  min-width: 400px;
  color: black;
  background: white;
  padding: 1em;
  opacity: 0.8;
  border-radius: 1%;
  width: 100%;
}

.title {
  color: $clr-accent;
  position: relative;
}

.my-services li {
  list-style: none;
}
