@use 'variables' as *;

/*Switch */
.switch {
  width: 80px;
  height: 40px;
  border-radius: 20px;
  background-color: $clr-dark;
  position: relative;
  top: -15px;
}

.btn {
  background-color: $clr-light;
}

.flicker {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: $clr-light;
  position: absolute;
  top: 5px;
  left: 5px;
  transition: 0.3s;
  box-shadow: inset 4px 4px 4px var(--clr-light),
    inset -4px -4px 4px var(--clr-dark);
}

.dark img {
  filter: grayscale(0%);
}
.dark,
.dark #toolkit,
.dark .timeline-content {
  background-color: $clr-dark;
  transition: 0.3s;
  color: $clr-light;
}
.dark .project__title,
.dark .hamburger,
.dark .greeting,
.dark .qualifications,
.dark .facts,
.dark .hide,
.dark .testimonial-container .slide p,
.dark .testimonial-container .slide a,
.dark .timeline-content p {
  color: $clr-light;
}
.dark #title-accent,
.dark #light-accent,
.dark #title-dark.title-tools,
.dark #title-dark.title-about-me,
.dark.title-tools,
.dark #title-dark.title-tes,
.dark .icon,
.dark .project__link,
.dark .desc,
.dark .stack,
.dark .title-project,
.dark .title-footer {
  color: $clr-accent;
}

.dark .about-me {
  background-color: $clr-dark;
}

.dark .slide p,
.dark .slide a {
  color: $clr-dark;
}

.dark #project,
.dark .testimonial-container .slide {
  background-color: $clr-dark;
}

.dark #project-btn,
.dark #contact-btn {
  background-color: $clr-accent;
  color: $clr-dark;
}

.dark .links {
  color: $clr-btn-accent;
}

.dark .switch {
  background-color: $clr-btn-accent;
}

.dark .flicker {
  transform: translateX(40px);
}

.moon {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  box-shadow: 4px 4px 0 0 $clr-light;
  position: absolute;
  top: 5px;
  left: 45px;
}
