@use 'variables' as *;

section.timeline {
  margin: 0;
  background: url(../assets/mountain.jpg) no-repeat center fixed;
  filter: grayscale(90%);
  background-size: cover;
  width: 100%;
  padding: 50px 0;
  position: relative;
  overflow: hidden;
}
.timeline:before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -1px;
  width: 2px;
  height: 100%;
  background: #ccd1d9;
  z-index: 1;
}

.timeline-block {
  width: -webkit-calc(50% + 8px);
  width: -moz-calc(50% + 8px);
  width: calc(50% + 8px);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  justify-content: space-between;
  clear: both;
}

.timeline-block-right {
  float: right;
}

.timeline-block-left {
  float: left;
  direction: rtl;
}

.marker {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid #f5f7fa;
  background: #4fc1e9;
  margin-top: 10px;
  z-index: 9999;
}

.timeline-content {
  width: 95%;
  padding: 1em;
  color: $clr-dark;
  background-color: $clr-light;
  opacity: 0.8;
  text-align: center;
}

.timeline-content h3 {
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: 500;
}

.timeline-content span {
  color: $clr-dark;
}

.timeline-content p {
  line-height: 1.5em;
  word-spacing: 1px;
  color: $clr-dark;
}

.timeline img {
  object-fit: cover;
  height: 200px;
  width: 200px;
}

.square {
  border-radius: 0;
  height: 200px;
  width: 300px !important;
  border: 1px solid $clr-dark;
}

@media screen and (max-width: 768px) {
  .timeline:before {
    left: 8px;
    width: 2px;
  }
  .timeline-block {
    width: 100%;
    margin-bottom: 30px;
  }
  .timeline-block-right {
    float: none;
  }

  .timeline-block-left {
    float: none;
    direction: ltr;
  }
}
