@use "variables" as *;

/* Toolkit section */
#toolkit {
    background-color: #F3F6FA;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}

.icons {
    list-style: none;
    font-size: $fs-h2;
    color: $clr-dark;
    padding-left: 0;
    margin: 0;
}

.icons p {
    font-size: $fs-body;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.toolkit-icon p{
    margin:0;
    margin-bottom:1.2em;
}

.toolkit-icon{
    background-color: $clr-light;
    display:flex;
    flex-direction: column;
    padding-top:1em;
    border-radius:2px;
}

.toolkit-icon i.bx.bxl{
    margin:0;
}
.none {
    display: block;
    padding:0;
}