/* site fonts */
$ff-primary: 'Work Sans', sans-serif;
$ff-secondary: 'Work Sans', sans-serif;

/*font weight */
$fw-reg: 400;
$fw-bold: 700;

/*font colors */
$clr-light: #fff;
$clr-dark: #000;
$clr-accent: #7ce75a;
$clr-btn-accent: #e75a7c;
// #e75a7c
/* font size */
$fs-h1: 3rem;
$fs-h2: 2rem;
$fs-h3: 1.3rem;
$fs-body: 1.1rem;
$fs-h4: 1.5rem;
$fs-nav: 1.5rem;
$fs-icon: 1.8rem;

/* box shadow */
$bs: 0.25em 0.25em 0.75em rgba(0, 0, 0.25),
  0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);

/*margin nav */
$mt-1: 2em;

/*margins */
$mb-1: 0.5em;
$mb-2: 1.2em;

/*padding*/
$p-1: 0.5em;
$p-2: 1em;

/*desktop font size*/
$dt-fs-h1: 4rem;
$dt-fs-h2: 2.25rem;
$dt-fs-h3: 1.5rem;
$dt-fs-h4: 2rem;
$dt-fs-body: 1.25rem;
$dt-fs-icon: 2.5rem;
