@charset "UTF-8";
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* site fonts */
/*font weight */
/*font colors */
/* font size */
/* box shadow */
/*margin nav */
/*margins */
/*padding*/
/*desktop font size*/
/*General Styles */
body {
  background: #fff;
  color: #000;
  margin: 0;
  font-family: "Work Sans", sans-serif;
  font-size: 1.1rem;
  line-height: 1.8;
  letter-spacing: 0.2px;
}

.padding {
  padding: 5em 2em;
  text-align: center;
}

img {
  display: block;
  margin: auto;
  max-width: 100%;
  max-height: 300px;
  width: 300px;
  height: auto;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

strong {
  font-weight: 700;
}

hr {
  width: 30%;
}

footer hr {
  width: 100%;
}

/* Buttons*/
.btn,
.btn-dark {
  border: #000 1px solid;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 14px 15px;
  border-radius: 100px;
  margin: 0;
  min-height: 44px;
  width: 167px;
}

.btn-dark {
  color: #fff;
}

.btn,
.btn-dark {
  background: #000;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  -webkit-transition: -webkit-transform 200ms ease-in-out;
  transition: -webkit-transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
  scroll-behavior: smooth;
  text-decoration: none;
  cursor: pointer;
  max-height: 4em;
  padding: 0 1em 0 1em;
}

.span {
  margin-left: 15px;
  display: block;
  width: 29px;
  height: 29px;
}

.btn:hover,
.btn:focus,
.btn-dark:hover,
.btn-dark:focus {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

a {
  color: #000;
  font-weight: bold;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#link {
  display: inline-block;
  font-size: 1.1rem;
  font-weight: 700;
}

.intro__img,
.about-me__img {
  margin-bottom: 1.2em;
}

/*Typography */
h1,
h2,
h3 {
  margin: 0;
  text-align: center;
  font-weight: 700;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

h4 {
  letter-spacing: 2px;
}

h4.project__title {
  margin: 0;
}

p {
  font-weight: 400;
  font-size: 1.1rem;
}

#title-dark,
.title-project {
  margin-bottom: 0.5em;
  border-bottom: 0;
  width: 100%;
  color: #000;
}

#title-dark,
.title-project {
  color: #000;
  position: relative;
}

#light-accent {
  margin-bottom: 0.5em;
  border-bottom: 0;
  width: 100%;
  color: #fff;
}

#light-accent {
  color: #fff;
  position: relative;
}

.highlight {
  font-weight: 400;
  background: linear-gradient(120deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
  background-repeat: no-repeat;
  background-size: 100% 20%;
  background-position: 0 70%;
}

.title-strong {
  display: block;
}

.subtitle {
  margin: 0;
  font-size: 1.3rem;
  text-align: center;
  color: #7ce75a;
}

/* header */
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 1em;
  z-index: 10;
  min-height: 150px;
}

a .hamburger {
  cursor: pointer;
}

/*Navigation Menu */
.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  background-color: #F3F6FA;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 10;
  overflow-x: hidden;
}

.navigation ul li {
  color: #000;
  font-size: 1.5rem;
  text-align: center;
  text-transform: uppercase;
  list-style-type: none;
  padding: 0.5em;
  line-height: 1;
  border-bottom: 1pt solid #000;
  margin-top: 3em;
}

.navigation a {
  text-decoration: none;
  color: #000;
}

.navigation a:hover,
.navigation a:focus {
  color: #e75a7c;
}

.hamburger {
  font-size: 3em;
  cursor: pointer;
  color: #000;
  display: block;
  position: fixed;
  top: 2%;
  left: 80%;
  z-index: 20;
}

.hamburger .bx {
  font-size: 4rem;
}

.bx-x {
  font-size: 3em;
  position: fixed;
  top: 2%;
  left: 80%;
  z-index: 20;
  color: #000;
}

.navigation.active {
  right: 0;
}

.close {
  color: #000;
}

/*Switch */
.switch {
  width: 80px;
  height: 40px;
  border-radius: 20px;
  background-color: #000;
  position: relative;
  top: -15px;
}

.btn {
  background-color: #fff;
}

.flicker {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: #fff;
  position: absolute;
  top: 5px;
  left: 5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: inset 4px 4px 4px var(--clr-light), inset -4px -4px 4px var(--clr-dark);
          box-shadow: inset 4px 4px 4px var(--clr-light), inset -4px -4px 4px var(--clr-dark);
}

.dark img {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

.dark,
.dark #toolkit {
  background-color: #000;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #fff;
}

.dark .project__title,
.dark .hamburger,
.dark .greeting,
.dark .qualifications,
.dark .facts,
.dark .hide,
.dark .slide p,
.dark .slide a {
  color: #fff;
}

.dark #title-accent,
.dark #light-accent,
.dark #title-dark.title-tools,
.dark #title-dark.title-about-me,
.dark.title-tools,
.dark .icon,
.dark .project__link,
.dark .desc,
.dark .stack,
.dark .title-project,
.dark .title-footer {
  color: #7ce75a;
}

.dark .about-me {
  background-color: #000;
}

.dark.title-services {
  color: #000;
}

.dark #project {
  background-color: #000;
}

.dark #project-btn,
.dark #contact-btn {
  background-color: #7ce75a;
  color: #000;
}

.dark .project__data {
  background: rgba(0, 0, 0, 0.8);
}

.dark .links,
.dark.slide a {
  color: #e75a7c;
}

.dark .switch {
  background-color: #e75a7c;
}

.dark .flicker {
  -webkit-transform: translateX(40px);
          transform: translateX(40px);
}

.moon {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 0 0 #fff;
          box-shadow: 4px 4px 0 0 #fff;
  position: absolute;
  top: 5px;
  left: 45px;
}

.intro__img,
.about-me__img {
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0 auto;
  margin-bottom: 2em;
  border-radius: 50%;
}

.about-me__img {
  -o-object-position: top;
     object-position: top;
}

.about-me {
  background-color: #F3F6FA;
}

.about-me__body.container {
  margin-top: 0;
  padding-top: 114px;
}

.intro__img {
  -o-object-position: top center;
     object-position: top center;
  -webkit-animation: blob 5s linear infinite;
          animation: blob 5s linear infinite;
}

@-webkit-keyframes blob {
  0%, 100% {
    border-radius: 50% 45% 88% 14%;
  }
  25% {
    border-radius: 30% 25% 76% 65%;
  }
  50% {
    border-radius: 40% 65% 12% 45%;
  }
  75% {
    border-radius: 30% 25% 76% 65%;
  }
}

@keyframes blob {
  0%, 100% {
    border-radius: 50% 45% 88% 14%;
  }
  25% {
    border-radius: 30% 25% 76% 65%;
  }
  50% {
    border-radius: 40% 65% 12% 45%;
  }
  75% {
    border-radius: 30% 25% 76% 65%;
  }
}
.contact-me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: -webkit-transform 200ms ease-in-out;
  transition: -webkit-transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
}

.contact-me a {
  font-size: 2em;
  color: #000;
  margin-left: 1em;
  padding: 0.1em;
  cursor: pointer;
}

.social-list__item {
  list-style: none;
}

.social-list {
  padding-left: 0;
}

.bx {
  font-size: 1.8rem;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
}

.intro__img,
.about-me__img {
  margin-top: 3em;
}

/* My services section */
.my-services {
  background-image: url(../assets/services-bg.jpg);
  background-color: rgba(0, 0, 0, 0.8);
  background-size: cover;
  background-blend-mode: multiply;
  color: #fff;
  text-align: center;
}

.title {
  color: #7ce75a;
  position: relative;
}

.service {
  max-width: 500px;
  margin: 0 auto;
}

.my-services li {
  list-style: none;
}

/* Testimonial Slider */
.quote i {
  font-size: 8rem;
  color: #e75a7c;
  position: relative;
}

.left-quote {
  right: 0.5em;
  top: 1em;
}

.right-quote {
  left: 0;
  bottom: -5em;
}

.slider {
  width: 100%;
  height: auto;
  padding-bottom: 2em;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.slide {
  position: relative;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1em;
  height: 600px;
  overflow: auto;
}

.slide img {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  margin-bottom: 1.5em;
}

.slide p {
  padding: 0;
  margin: 0;
  margin-bottom: 1.2em;
  width: 80%;
  color: #000;
}

p.position {
  padding: 0;
}

.slide h4 {
  margin: 0;
}

.slide a {
  color: #000;
}

#next,
#prev {
  display: inline-block;
  position: absolute;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  cursor: pointer;
  font-size: 1.1rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.prev {
  top: 50%;
  left: 2%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.next {
  top: 50%;
  right: 2%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

button#next.next,
button#prev.prev {
  border: none;
  background-color: transparent;
}

.next::after,
.prev::after {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  height: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.next::after {
  background-image: url(../assets/icon-next.svg);
  top: 5em;
  right: 0;
  left: -2em;
  bottom: 0;
  margin: auto;
  height: 20px;
  width: 20px;
}

.prev::after {
  background-image: url(../assets/icon-prev.svg);
  top: 5em;
  right: 0;
  left: 2em;
  bottom: 0;
  margin: auto;
  height: 20px;
  width: 20px;
}

blockquote {
  content: "“";
}

/* Toolkit section */
#toolkit {
  background-color: #F3F6FA;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}

.icons {
  list-style: none;
  font-size: 2rem;
  color: #000;
  padding-left: 0;
  margin: 0;
}

.icons p {
  font-size: 1.1rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.toolkit-icon p {
  margin: 0;
  margin-bottom: 1.2em;
}

.toolkit-icon {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 1em;
  border-radius: 2px;
}

.toolkit-icon i.bx.bxl {
  margin: 0;
}

.none {
  display: block;
  padding: 0;
}

/* ----- Project----- */
.project__container {
  display: grid;
  justify-items: center;
  row-gap: 2rem;
}

.project__img {
  background: #F3F6FA;
  border-radius: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.project__img img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.project__data {
  bottom: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0 0.5em;
  line-height: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0.5rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.link-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 1em;
}

#netlify-btn,
#git-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #F3F6FA;
  border: none;
  border-radius: 50%;
  color: rgb(0, 0, 0);
  padding: 5px;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  text-decoration: none;
  -webkit-box-shadow: 0 0 50px #F3F6FA;
          box-shadow: 0 0 50px #F3F6FA;
}
#netlify-btn .bx,
#git-btn .bx {
  font-size: 2rem;
}

#netlify-btn:hover,
#git-btn:hover,
#netlify-btn:focus,
#git-btn:focus {
  background-color: #e75a7c;
}

.icon.stack p {
  font-size: 1rem;
}

.project-icon {
  font-size: 20px;
}

.link-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project__link,
#link {
  padding: 0;
  margin-left: 0.2em;
}

h4.project__title {
  font-size: 1.5rem;
  color: #000;
  margin-bottom: 1.25em;
}

.desc {
  color: #000;
  text-align: center;
  padding: 1em;
}

.hide {
  display: none;
}

.stack {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.2em;
}

.icon .bx {
  font-size: 1.5rem;
}

footer {
  background-color: #000;
  color: #000;
  text-align: center;
}

i.bx.bx-envelope {
  padding-left: 0.2em;
  font-size: 1.3rem;
}

.footer {
  padding: 5em 2em;
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1em;
}

.footer__link {
  font-weight: 700;
  text-decoration: none;
}

.title-footer {
  color: #fff;
}

a.social-list__link {
  color: #fff;
}

.footer__link:hover,
.social-list__link:hover {
  opacity: 0.7;
  color: #7ce75a;
  text-decoration: underline;
}

footer p {
  color: #fff;
}

footer span,
.new-line {
  display: block;
}

.copyright {
  background-color: #fff;
  padding: 0;
  width: 100%;
  margin: 0;
  color: #000;
}

.copyright a {
  color: #000;
}

@media (min-width: 500px) {
  .navigation {
    width: 350px;
    height: 100vh;
    display: inline;
  }
}
@media (min-width: 800px) {
  .intro, .about-me__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 6.5em;
  }
  .flex, img.intro__img {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 100%;
    height: auto;
  }
  .flex-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    gap: 0;
  }
  .btn-dark, .btn {
    margin-right: 1em;
    padding: 14px 15px;
    margin-top: 2.75em;
  }
  .intro__img, .about-me__img {
    margin: 0;
  }
  .title-intro,
  .title-about-me {
    text-align: left;
  }
  .home-container {
    display: grid;
    grid-template-columns: 60% 40%;
    margin: 0;
    padding-top: 0;
  }
  .home-container.left-col {
    grid-column: 1/2;
  }
  .home-container.right-col {
    grid-column: 2/3;
  }
  .container {
    display: grid;
    grid-template-columns: 40% 60%;
  }
  .container.left-col {
    grid-column: 1/2;
  }
  .container.right-col {
    grid-column: 2/3;
  }
  h1, .left-col {
    text-align: left;
  }
  .icon.stack p {
    margin-right: 1.25em;
  }
  .right-col {
    padding-left: 2em;
  }
  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2em;
  }
  .bx bxl-netlify {
    display: inline;
  }
  .icon.none {
    display: none;
  }
  .top-row {
    padding: 0em 8em;
  }
  .padding {
    padding: 10em 8em;
    text-align: center;
  }
  .about-me.padding {
    padding-top: 0;
  }
  #home {
    padding-top: 2em !important;
  }
  .padding,
  #light-accent,
  #title-dark,
  .title-project {
    text-align: left;
  }
  .title-footer, #services {
    text-align: center;
  }
  #light-accent,
  #title-dark,
  .title-project {
    margin-bottom: 3.75rem;
  }
  .slide p {
    width: 50%;
  }
  .stack {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .stack icon {
    font-size: 1.2rem;
  }
  .none {
    display: none;
  }
  .project__data {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .quote i {
    font-size: 10rem;
    color: #e75a7c;
    position: relative;
  }
  .left-quote {
    right: 2em;
    top: 0;
  }
  .right-quote {
    right: -2em;
    top: 3.5em;
  }
}
@media (min-width: 1000px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.25rem;
  }
  h3,
  .icons {
    font-size: 1.5rem;
  }
  p {
    font-size: 1.25rem;
  }
  .icons {
    padding: 0 5em;
  }
  .toolkit-icon {
    font-size: 3rem;
    text-align: center;
  }
  .project__title {
    font-size: 2rem;
    margin-top: 2em;
  }
  .project__container {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 5rem;
  }
  .hide {
    display: inline;
    color: #000;
    font-size: 1.25rem;
    line-height: 1.25em;
  }
  .navigation.active {
    right: 0;
  }
  .navigation ul li {
    text-align: right;
  }
  .services {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 1.5em;
  }
  .service {
    margin: 0 auto;
    height: 100%;
    min-width: 300px;
    color: black;
    background: white;
    padding: 1em 2em;
    opacity: 0.8;
    border-radius: 1%;
  }
  .service li {
    list-style-type: disc;
    text-align: left;
  }
  .toolkit-icon .bx,
  .service .bx {
    font-size: 4rem;
    padding-bottom: 1rem;
  }
  .quote i {
    font-size: 15rem;
    color: #e75a7c;
    position: relative;
  }
  .left-quote {
    left: -2em;
    top: 0.5em;
  }
  .right-quote {
    left: 0;
    top: 2.5em;
  }
}